@import '../partials/config';
.root {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  path{
    fill: $color-near-black;
    stroke: $color-nearer-black;
    stroke-width: 10px;
  }
}
