@import '../partials/config';

.root {
  font-size: 1.5rem;
  word-spacing: .2rem;
  line-height: 2;

}

.word{
  padding-left: .5rem;
  padding-right: .5rem;
  white-space: nowrap;
  &.legit{
    background-color: yellow;
  }
  &.notLegit{
    background-color: transparent;
  }
}
.letter{
  cursor: pointer;
  display:inline-block;
  transform: scale(1);
  font-family: $font-mono;
  transition: 0.2s ease-out transform;
  margin: 0 .2rem;
  &.inactive{
    color: $color-grey-light;
  }
  &.active{
    color: black;
  }
  &:hover{
    transform: scale(1.5);
  }
}
